@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = null;
}
@model MovieDetailViewModel
<!DOCTYPE html>
<html>
<head>
	<title>Movie Ranking</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="~/styles/style.css" rel="stylesheet" />
	<script src="~/lib/jquery/dist/jquery.js"></script>

</head>
<body>
	<div class="pageContainer">
		<partial name="_SideBar" />

		<div class="content">
			<div class="movie-detail-title">
				<figure >
					@{
						var queryString = Model.BackQueryParam;

					}
					<a asp-controller="Ranking" 
								asp-action="Redirect" 
								asp-route-toAction="Index"
					   asp-route-backQueryParam="@Model.BackQueryParam">

						<img src="https://cdn.builder.io/api/v1/image/assets/TEMP/a6b294783667ba3412bad1a7a5cb521c053e0af324839c99b895cc7629bb6918?apiKey=45f58322aded4623984a676e805b906d&" class="image-icon" alt="Description of the image" />
					</a>
					
				</figure>

				<h2 class="page-title">@Model.Title</h2>
			</div>

			<section class="movie-detail-container">
				<div class="details-column">
					<div class="image-column">
						<img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/fcb8914690fd0c8605e657e22de1474b1ac869882980f0ae240aef4de055faae?apiKey=45f58322aded4623984a676e805b906d&" alt="Movie Poster" class="main-image" />
					</div>
					<div class="details-container">
						<div class="title-rating">
							<img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/5d316cc08fc2939a6b0088143b8f37bd90af9e7641fffdbf4f2f1e6472c0f422?apiKey=45f58322aded4623984a676e805b906d&" alt="Rating Icon" class="rating-image" />
							<div class="rating-text">@Model.VotesAvg</div>
						</div>
						<div class="color-bars">
							<div class="color-bar-green"></div>
							<div class="color-bar-orange"></div>
						</div>
						<p class="director">Director: @Model.MainCastName</p>
						<p class="cast">Cast: @Model.CastList</p>
						<p class="synopsis">@Model.MainCastName</p>
					</div>
				</div>

				<div class="trailer">
					<img loading="lazy" src="/img/play.svg" alt="Movie Poster" class="image-icon" />
				</div>
			</section>
			
		</div>
	</div>
</body>
</html>